<li>
  <%= link_to list.name, list, data: { turbo: false }, class: "block text-gray-800 dark:text-gray-200 my-1 p-2 w-52 rounded-md hover:bg-gray-100 dark:hover:bg-gray-800 duration-300 truncate" %>
</li>
