<div data-sidebar-target="sidebar" class="p-6 h-full overflow-y-auto bg-gray-50 dark:bg-gray-900 border-r-1 border-gray-200 dark:border-gray-700 w-64 transition-transform duration-300 delay-200 transform -translate-x-full">
    <h2 class="uppercase text-sm text-gray-600 dark:text-gray-300 mb-4">My lists</h2>
    <ul class="dark:text-white">
        <li class="text-gray-800 dark:text-gray-200 my-1 p-2 w-52 rounded-md hover:bg-gray-100 dark:hover:bg-gray-800 duration-300">List 1</li>
        <li class="text-gray-800 dark:text-gray-200 my-1 p-2 w-52 rounded-md hover:bg-gray-100 dark:hover:bg-gray-800 duration-300">List 2</li>
    </ul>
</div>
